In [1]:
import pandas as pd

# Load the dataset

In [20]:
df=pd.read_csv(r"C:\Users\ritul\OneDrive\Desktop\Projects\DataAnalysis\social-data-analysis\RawData\DataSet.csv")

In [7]:
df.head()

,States/UTs,Area,Number of Households surveyed,Number of Women age 15-49 years interviewed,Number of Men age 15-54 years interviewed,Female population age 6 years and above who ever attended school (%),Population below age 15 years (%),"Sex ratio of the total population (females per 1,000 males)","Sex ratio at birth for children born in the last five years (females per 1,000 males)",Children under age 5 years whose birth was registered with the civil authority (%),...,Women (age 15-49 years) having a bank or savings account that they themselves use (%),Women (age 15-49 years) having a mobile phone that they themselves use (%),Women age 15-24 years who use hygienic methods of protection during their menstrual period26 (%),Ever-married women age 18-49 years who have ever experienced spousal violence27 (%),Ever-married women age 18-49 years who have experienced physical violence during any pregnancy (%),Young women age 18-29 years who experienced sexual violence by age 18 (%),Women age 15 years and above who use any kind of tobacco (%),Men age 15 years and above who use any kind of tobacco (%),Women age 15 years and above who consume alcohol (%),Men age 15 years and above who consume alcohol (%)
0,India,Urban,160138,179535,26420,82.5,23.1,985.0,924,93.3,...,80.9,69.4,89.4,24.2,2.5,1.1,5.4,28.8,0.6,16.5
1,India,Rural,476561,544580,75419,66.8,28.1,1037.0,931,87.5,...,77.4,46.6,72.3,31.6,3.4,1.6,10.5,42.7,1.6,19.9
2,India,Total,636699,724115,101839,71.8,26.5,1020.0,929,89.1,...,78.6,54.0,77.3,29.3,3.1,1.5,8.9,38.0,1.3,18.8
3,Andaman & Nicobar Islands,Urban,527,557,85,86.5,22.7,1023.0,941,96.9,...,88.5,80.8,98.5,23.2,(0.0),1.4,15.0,44.7,0.7,33.8
4,Andaman & Nicobar Islands,Rural,2097,1840,282,81.8,19.7,929.0,891,97.8,...,89.8,80.9,99.1,13.2,0.5,2.2,41.1,66.4,7.6,41.9

In [9]:
df.columns

Index(['States/UTs', 'Area', 'Number of Households surveyed',
       'Number of Women age 15-49 years interviewed',
       'Number of Men age 15-54 years interviewed',
       'Female population age 6 years and above who ever attended school (%)',
       'Population below age 15 years (%)',
       ' Sex ratio of the total population (females per 1,000 males)',
       'Sex ratio at birth for children born in the last five years (females per 1,000 males)',
       'Children under age 5 years whose birth was registered with the civil authority (%)',
       ...
       'Women (age 15-49 years) having a bank or savings account that they themselves use (%)',
       'Women (age 15-49 years) having a mobile phone that they themselves use (%)',
       'Women age 15-24 years who use hygienic methods of protection during their menstrual period26 (%)',
       'Ever-married women age 18-49 years who have ever experienced spousal violence27 (%)',
       'Ever-married women age 18-49 years who have experienced physical violence during any pregnancy (%)',
       'Young women age 18-29 years who experienced sexual violence by age 18 (%)',
       'Women age 15 years and above who use any kind of tobacco (%)',
       'Men age 15 years and above who use any kind of tobacco (%)',
       'Women age 15 years and above who consume alcohol (%)',
       'Men age 15 years and above who consume alcohol (%)'],
      dtype='object', length=136)